.Contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.Contact .Form {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

#message {
    height: 100px;
}
#name {
    height: 30px;
}
#phone {
    height: 30px;
}

.Form input {
    border: 1px solid rgb(206, 204, 204);
    margin-top: 10px;
    margin-bottom: 20px;
}

.Form label {
    font-size:large;
    
}

.contactMap iframe{
    width: 600px;
    height: 600px;
    border: 2px solid rgb(240, 240, 101);
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

@media (max-width:1000px) {
    .Contact {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        
    }
    .Contact .Form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .contactMap iframe{
        margin-top: 50px;
        width: 400px;
        height: 400px;
        border: 2px solid rgb(240, 240, 101);
    }
}

@media (max-width:1000px) {
    .contactMap iframe{
        margin-top: 50px;
        width: 300px;
        height: 300px;
        border: 2px solid rgb(240, 240, 101);
    }
}



.Navbar {
    box-shadow: 16px 7px 48px -33px rgba(0, 0, 0, 0.75);
  }
  
  .Links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black;
    background-color: whitesmoke;
    margin: 0;
    height: 100px;
    position: static;
  }
  
  .Links a {
    color: black;
    text-decoration: none;
    
  }
  
  .collapsible a{
    color: black;
    border-bottom: 1px solid whitesmoke;
  }
  
  .Links #logo {
    height: 100px;
  
    margin: 0;
    padding: 0;
    object-fit: cover;
  }
  
  .isOpen {
    background-color: rgb(223, 223, 223);
    width: 70px;
    height: 100px;
    position: absolute;
    right: 5px;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  .isClosed {
    background-color: whitesmoke;
    width: 0px;
    height: 0px;
    display: none;
  }
  
  @media (max-width: 600px) {
    .Navbar .Links #dissapear {
      display: none;
    }
  
  }
  @media (min-width: 600px) {
    .collapsible {
      display: none;
    }
  }
  
  .collapsible button {
    height: 50px;
    width: 50px;
    border: 0px;
    border-radius: 20%;
    border: 1px solid grey;
    font-size: x-small;
  }
  
  
  @media (max-width:600px) {
    .collapsible button {
      height: 50px;
      width: 50px;
      
    }
  }

  .Links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black;
    background-color: whitesmoke;
    margin: 0;
    height: 100px;
    position: static;
  }
  
  .Links a {
    color: black;
    text-decoration: none;
    
  }