.slideContainer {
    width: 80%;
   margin: 0 auto;
  margin-top: 50px;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:cover;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

  @media (max-width:1000px) {
    .slideContainer {
      display: none;
    }
  }
  @media (max-width:1200px) {
    .slideContainer {
      width:1000px;
    }
  }
 
  